
.App-body {
  background-color: #005386;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}


.formButtonCadastro {
  background-color: #05124e;
  border: 1px;
  color: white;
  width: 308px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.formSenha1 {
  background-Color:'white';
  width: 300px;
  height: 15px;
  margin-top:1px;
  padding-top: 5px;
}
.formSenha2 {
  background-Color:'white';
  width: 300px;
  height: 15px;
  margin-top: -100px;
  align-items: center;
  padding-top: 5px;
  margin-right: -150px;
}

.Name-form {
  background-Color:'white';
  width: 300px;
  height: 15px;
  padding-top: 5px;

}

.termosDeUso{
  color:antiquewhite;
  width: 300px;
  height: 15px;
  font-size:calc(10px + 2vmin);
  text-align: left;
}

.labelTermos{
font-size: calc(1px + 2vmin);

}

.txt {
  font-size: 17px;
  text-align: left;
  display:block;
  margin-top: 5px; 
}

.select-form1 {
  background-Color:'white';
  width: 308px;
  height: 27px;
  padding-top: 5px;
  color:black;
  font-size: 15px;
  font-family: Arial;
  text-align: left; 
}

.divSenha {
  color:antiquewhite;
  width: 300px;
  height: 15px;
  align-items: center;
  margin-bottom: -10px;
}

.Save {
  
  padding-left: 1px;
}
.Edit {
  
  padding-left: 32px;
}
.Sair {
  
  padding-left: 240px;
}

.teste {

  
}