
.App-body {
  background-color: #005386;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.form-departamento {
  background-Color:'white';
  width: 308px;
  height: 20px;
  margin-top:10px;
  text-align: center;
}

.form-usuario {
  background-Color:'white';
  width: 308px;
  height: 20px;
  margin-top:10px;
  text-align: center;
}

.formSenha1 {
  background-Color:'white';
  width: 300px;
  height: 15px;
  margin-top:1px;

}
.formSenha2 {
  background-Color:'white';
  width: 300px;
  height: 15px;
  margin-top:-25px;
  margin-left:-155px;

}

.formButtonCadastro {
  background-color: #05124e;
  border: 1px;
  color: white;
  width: 308px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1;
  margin-left:-155px;
  position:relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.txt {
  font-size: 17px;
  text-align: left;
  display:block;
  margin-top: 5px;
  
}

.Name-form {
  background-Color:'white';
  width: 300px;
  height: 15px;
  padding-top: 5px;

}

.Save {
  
  padding-left: 1px;
}
.Edit {
  
  padding-left: 32px;
}
.Sair {
  
  padding-left: 240px;
}
