/* CSS TELA DE LOGIN */

.tela_login {
  text-align: center;

}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: 40px;
  
}


.App-body {
  background-color: #005386;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.Name-login {
  background-Color:'white';
  width: 300px;
  height: 15px;

}

.Senha-login {
  background-Color:'white';
  width: 300px;
  height: 15px;
  margin-top:1px;

}

.Button-login {
  background-color: #05124e;
  border: 1px;
  color: white;
  width: 308px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
}

.Button-cadastre {
  background-color: #05124e;
  border: 1px;
  color: white;
  width: 308px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.txt {
  font-size: calc(5px + 1vmin);
  color: white;
  text-align:left;
  padding-top: 1px;
}